!!! 5
html
	head
		title The Daily Koala
		style
			html, body {
				font-family: Helvetica, sans-serif;
				text-align: center;
				margin: 0, auto;
				padding: 0;
			}
			h1 { font-size: 5em }
			footer {
				padding-top: 50px;
			}
	body
		h1 The Daily Koala
		img#koala(src=output)
		footer
			p
				| Made with love by your derpy friend, 
				a(href='http://www.andy-jiang.com') Andy